doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="shortcut icon", href="../favicon.ico", type="image/x-icon")
    title JADE
  body
    section
      .container
        h1 Jade - node template engine
        h2 Джаде ноде темплате енджайн
        h2 hello pug
        img(src = require('../../assets/img/webpack.svg').default)
